node_modules
.expo
dist
web-build
.kotlin
.metro-health-check*
npm-debug.*
yarn-debug.*
yarn-error.*
.DS_Store
*.pem
.env*.local
*.tsbuildinfo
app-example
*.xlsx
admin-panel/node_modules
push-server/node_modules
echtebearliner-push-server/node_modules